    .modal-content {
        width: 90%;
        max-height: 60%;
        overflow: auto;
    }
    .car_modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        max-height: 60%;
        overflow: auto;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 48px;
        font-weight: bold;
    }
