<link rel="stylesheet" href="{{ url_for('static', filename='css/car_input_styles.css') }}">
        <form id="bookingForm" method="POST" action="/add_booking">
            <div class="form-group">
                <label for="start_datetime">Дата и время начала:</label>
                <input type="datetime-local" class="form-control" id="start_datetime" name="start_datetime" required>
                
            </div>
                
            <div class="form-group">
                <label for="end_datetime">Дата и время окончания:</label>
                <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime" required>
            </div>

            <div class="form-group" style="display: flex; align-items: center;">
                <button type="button" class="btn btn-info" style="border-top-left-radius: 6px; border-bottom-left-radius: 6px; border-top-right-radius: 0; border-bottom-right-radius: 0;" onclick="openCarModal()">Автомобиль</button>
                <input type="text" class="form-control" id="selectedCar" name="selectedCar" readonly style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 6px; border-bottom-right-radius: 6px;">
                <input type="hidden" id="selectedCarId" name="car" readonly>
            </div>
            
            <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>

            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input type="text" class="form-control" id="phone" name="phone">
            </div>


            <div class="form-group">
                <label for="description">Заметка:</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Добавить бронирование</button>
        </form>
    </div>


<div id="carModal" class="modal" onclick="closeIfOutside(event)">
    <div class="modal-content car_modal-content">
        <span class="close" onclick="closeCarModal()"></span>
        <table id="carTable">
            <thead>
                <tr>
                    <th>Марка</th>
                    <th>Номер</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr onclick="selectCar('{{ car.id }}', '{{ car.brand }} {{ car.car_number }}')">
                        <td>{{ car.brand }}</td>
                        <td>{{ car.car_number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


</div>
<script>
$('#bookingForm').submit(function(event) {
    event.preventDefault();
    var formData = $(this).serialize();
    $.ajax({
        url: '/add_booking',
        type: 'POST',
        data: formData,
        success: function(response) {
            window.location.href = '/';
        },
        error: function(xhr, status, error) {
            var errorMessage = xhr.responseJSON.error;
            $('#errorMessage').html(errorMessage).show();
        }
    });
});
</script>
<script src="{{ url_for('static', filename='js/car_input.js') }}"></script>