{% extends 'base.html' %} {% block title %} Добавить автомобиль {% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h4 class="text-center mb-3">Добавить автомобиль</h4>
      <form method="POST" novalidate>
        {{ form.csrf_token }} {{ form.brand(class="form-control py-3 mb-3",
        placeholder=form.brand.label.text) }}
        <p>
          {% if form.brand.errors %} {% for error in form.brand.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %} {% endif %}
        </p>
        {{ form.car_number(class="form-control py-3 mb-3",
        placeholder=form.car_number.label.text) }}
        <p>
          {% if form.car_number.errors %} {% for error in form.car_number.errors
          %}
          <span style="color: red">{{ error }}</span>
          {% endfor %} {% endif %}
        </p>
        {{ form.submit(class="button px-1 btn btn-info") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
