<div class="container mt-3">
  <h4>Добавить автомобиль</h4>
  <form method="POST" action="/add_car" novalidate>
    {{ form.csrf_token }}
    Марка:
    <div class="form-group">
      {{ form.brand(class="form-control", placeholder=form.brand.label.text) }}
      {% if form.brand.errors %} {% for error in form.brand.errors %}
      <span style="color: red">{{ error }}</span>
      {% endfor %} {% endif %}
    </div>
    Регистрационный знак:
    <div class="form-group">
      {{ form.car_number(class="form-control",
      placeholder=form.car_number.label.text) }} {% if form.car_number.errors %}
      {% for error in form.car_number.errors %}
      <span style="color: red">{{ error }}</span>
      {% endfor %} {% endif %}
    </div>
    Коробка передач:
<p>
 {{ form.transmission }}
</p>
    {{ form.submit(class="btn btn-primary") }}
  </form>
  {% if error %}
  <div class="alert alert-danger mt-3">{{ error }}</div>
  {% endif %}
</div>
<p></p>