{% extends 'base.html' %}
{% block content %}
<style>
    .modal-content {
       width: 80%;
        max-height: 60%;
        overflow: auto;
    }
    .car_modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        max-height: 60%;
        overflow: auto;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 48px;
        font-weight: bold;
    }

    #carTable {
        width: 100%;
        border-collapse: collapse;
    }

    #carTable th, #carTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    #carTable th {
        background-color: #f2f2f2;
        width: 10%;
    }

    #carTable tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>
<div class="container">
    <h6>Add Booking</h6>

    <form id="bookingForm" method="POST" action="/add_booking">
        <div class="form-group">
            <label for="start_datetime">Дата и время начала:</label>
            <input type="datetime-local" class="form-control" id="start_datetime" name="start_datetime" required>
        </div>

        <div class="form-group">
            <label for="end_datetime">Дата и время окончания:</label>
            <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime" required>
        </div>

        <div class="form-group">
            <label for="car">Автомобиль:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="selectedCar" name="selectedCar" readonly>
                <input type="hidden" id="selectedCarId" name="car" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-info" onclick="openCarModal()">Выбрать автомобиль</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Телефон:</label>
            <input type="text" class="form-control" id="phone" name="phone">
        </div>

        <div class="form-group">
            <label for="description">Заметка:</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Добавить бронирование</button>
    </form>
</div>

<!-- Модальное окно с выбором автомобиля -->

<div id="carModal" class="modal" onclick="closeIfOutside(event)">
    <div class="modal-content car_modal-content">
        <span class="close" onclick="closeCarModal()">&times;</span>
        <table id="carTable">
            <thead>
                <tr>
                    <th>Марка</th>
                    <th>Номер</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr onclick="selectCar('{{ car.id }}', '{{ car.brand }} {{ car.car_number }}')">
                        <td>{{ car.brand }}</td>
                        <td>{{ car.car_number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<script>
    function openCarModal() {
        var modal = document.getElementById("carModal");
        modal.style.display = "block";
    }

    function closeCarModal() {
        var modal = document.getElementById("carModal");
        modal.style.display = "none";
    }

    function selectCar(carId, carName) {
        console.log("Выбран автомобиль:", carId, carName);
        document.getElementById("selectedCar").value = carName;
        document.getElementById("selectedCarId").value = carId;
        closeCarModal();
    }

    function closeIfOutside(event) {
        var modal = document.getElementById('carModal');
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}