{% extends 'base.html' %}

{% block title %}Календарь бронирований{% endblock %}

{% block additional_styles %}
    <style>

.booking-status {
        cursor: pointer; /* Установка стиля указателя при наведении на элемент */
        transition: transform 0.3s; /* Добавление плавной анимации */
    }

    .booking-status:hover {
        text-decoration: underline; /* Добавление подчеркивания при наведении на элемент */
        transform: scale(1.1); /* Увеличение размера элемента на 10% */
    }
        /* Add your custom CSS styles here */
        .fixed-column {
            position: sticky;
            left: 0;
            top: 0; /* Added to make the column sticky at the top */
            z-index: 1;
            background-color: #f8f9fa !important; /* Added !important to override other styles */
        }
        .fixed-column,
        .fixed-month {
            position: sticky;
            left: 0;
            top: 0; /* Added to make the column sticky at the top */
            z-index: 1;
            background-color: #f8f9fa !important; /* Added !important to override other styles */
        }
        .fixed-month th h2 { /* Adjusted the selector to target h2 inside th elements */
            margin-left: 110px;
            vertical-align: top;
        }
        /* Стилизация полосы прокрутки */
::-webkit-scrollbar {
    width: 15px; /* Ширина полосы прокрутки */
}

/* Стилизация ползунка прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #6c757d; /* Цвет ползунка прокрутки */
    border-radius: 1px; /* Скругление углов ползунка */
    border: none; /* Обводка ползунка */
}
    /* Минимальная высота для ячеек таблицы */
    .table-bordered th,
    .table-bordered td {
        min-height: 90px !important; /* Минимальная высота ячейки таблицы */
        border: 1px solid #dee2e6;
        padding: 8px;
        vertical-align: middle;
    }
        .fixed-height-cell {
        height: 70px; /* Задаем желаемую высоту */
    }

    /* Стилизация кастомного скроллбара */
#custom-scrollbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; /* Высота полосы прокрутки */
    background-color: #f1f1f1; /* Цвет фона полосы прокрутки */
    z-index: 999; /* Поверх всех других элементов */
    pointer-events: none; /* Игнорирование событий мыши для прозрачного элемента */
}
/* Стилизация кастомного скроллбара */
#custom-scrollbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; /* Высота полосы прокрутки */
    background-color: #f1f1f1; /* Цвет фона полосы прокрутки */
    z-index: 999; /* Поверх всех других элементов */
    pointer-events: none; /* Игнорирование событий мыши для прозрачного элемента */
}


    </style>
{% endblock %}

{% block content %}
<div class="mb-5">
        <button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#addBookingModal">Добавить бронь</button>
        <button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#addCarModal">Добавить машину</button>
        <button class="btn btn-info mt-3"><a href="/cars" style="color: white; text-decoration: none;">Список машин</a></button>

        <div id="calendar"></div>
    </div>
    <div class="modal fade" id="addBookingModal" tabindex="-1" aria-labelledby="addBookingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addCarModalLabel">Добавить бронирование</h4>
                    </div>
                <div class="modal-body">
                    <div id="addBookingModalContent"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Здесь будет загружено содержимое страницы бронирования -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="addCarModal" tabindex="-1" aria-labelledby="addCarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addCarModalLabel">Добавить машину</h4>
                
            </div>
            <div class="modal-body">
                <div id="addCarModalContent"></div>
            </div>
        </div>
    </div>
</div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="fixed-month" rowspan="3" style="padding-bottom: 10px;">Автомобили</th> <!-- Added rowspan attribute -->
                    {% for month in months %}
                        <th class="fixed-month" colspan="{{ month['days']|length }}" data-month-name="{{ month['name'] }}">
                            <h2>{{ month['name'] }}</h2>
                        </th>
                    {% endfor %}
                </tr>
<tr>
    {% for _ in range(num_months) %}
        {% set weekdays = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"] %}
        {% for i in range(28) %}
            <th style="font-weight: normal; text-align: center; line-height: 0;">{{ weekdays[i % 7] }}</th>
        {% endfor %}
    {% endfor %}
</tr>
<tr>
    {% for month in months %}
        {% for day in month['days'] %}
            <th style="font-weight: normal; text-align: center; line-height: 0;">{{ day }}</th>
        {% endfor %}
    {% endfor %}
</tr>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr>
                        <td class="fixed-column">{{ car.brand }}</td>
                        {% for month in months %}
                            {% for day in month['days'] %}
                                <td class="fixed-height-cell" >
                                    {% for booking in car.bookings %}
    {% if booking.start_date.year == month['year'] and booking.start_date.month == month['month'] and booking.start_date.day <= day <= booking.end_date.day %}
        <span class="badge booking-status" style="background-color: {{ booking_statuses_colors[booking.status] }};" data-booking-id="{{ booking.id }}">{{ booking.status }}</span>
    {% endif %}
{% endfor %}
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Кнопки прокрутки -->
    <button style="position: absolute; top: 50%; transform: translateY(-50%); left: 0;" onmousedown="startScroll(-1)" onmouseup="stopScroll()" onmouseleave="stopScroll()" ontouchstart="startScroll(-1)" ontouchend="stopScroll()">◀</button>
    <button style="position: absolute; top: 50%; transform: translateY(-50%); right: 0;" onmousedown="startScroll(1)" onmouseup="stopScroll()" onmouseleave="stopScroll()" ontouchstart="startScroll(1)" ontouchend="stopScroll()">▶</button>
    </div>
{% endblock %}
{% block additional_scripts %}
    <!-- Add Bootstrap JavaScript library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Обработчик события клика на кнопке "Добавить бронь"
            $('button[data-bs-target="#addBookingModal"]').on('click', function() {
                $.ajax({
                    url: '/add_booking',
                    type: 'GET',
                    success: function(response) {
                        $('#addBookingModalContent').html(response);
                        $('#addBookingModal').modal('show');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        alert('An error occurred. Please try again.');
                    }
                });
            });
            
            // Обработчик события клика на кнопке "Добавить машину"
            $('button[data-bs-target="#addCarModal"]').on('click', function() {
                $.ajax({
                    url: '/add_car',
                    type: 'GET',
                    success: function(response) {
                        $('#addCarModalContent').html(response);
                        $('#addCarModal').modal('show');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        alert('An error occurred. Please try again.');
                    }
                });
            });
        });

// Обработчик события нажатия на элемент статуса бронирования
    document.querySelectorAll('.booking-status').forEach(function(bookingStatus) {
        bookingStatus.addEventListener('click', function() {
            var bookingId = this.getAttribute('data-booking-id');
            fetch('/booking/' + bookingId)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('bookingModal').querySelector('.modal-content').innerHTML = data;
                    $('#bookingModal').modal('show');
                })
                .catch(error => console.error('Ошибка:', error));
        });
    });

    let scrollInterval;

    function startScroll(direction) {
        const container = document.querySelector('.table-responsive');
        const scrollStep = 20; // Шаг прокрутки
        scrollInterval = setInterval(() => {
            container.scrollLeft += direction * scrollStep;
        }, 100); // Интервал для плавной прокрутки
    }

    function stopScroll() {
        clearInterval(scrollInterval);
    }
    // Связывание прокрутки таблицы с кастомным скроллбаром
document.querySelector('.table-wrapper').addEventListener('scroll', function() {
    const scrollbar = document.querySelector('.table-container::after');
    const tableWrapper = document.querySelector('.table-wrapper');
    const scrollPercentage = (tableWrapper.scrollLeft / (tableWrapper.scrollWidth - tableWrapper.clientWidth)) * 100;
    scrollbar.style.left = scrollPercentage + '%';
});
    </script>
{% endblock %}

