
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3>Информация по автомобилю</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body car-info">
                        
                        <p class="card-text"><strong>Марка машины:</strong> {{ car.brand }}</p>
                        <p class="card-text"><strong>Гос. номер:</strong> {{ car.car_number }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h3>Список бронирований</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td><a href="{{ url_for('view_booking', booking_id=booking.id) }}">{{ booking.id }}</a></td>
                        <td>{{ booking.start_date }}</td>
                        <td>{{ booking.end_date }}</td>
                        <td>{{ booking.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}

