
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>ID:</strong> {{ booking.id }}</p>
                <p><strong>Car Brand:</strong> <a href="{{ url_for('car_detail', car_id=booking.car.id) }}">{{ booking.car.brand }}</a>
                </p>
                <p><strong>Car Number:</strong> {{ booking.car.car_number }}</p>
                <p><strong>Start Date:</strong> {{ booking.start_date }}</p>
                <p><strong>End Date:</strong> {{ booking.end_date }}</p>
                <p><strong>Description:</strong> {{ booking.description }}</p>
                <p><strong>Статус:</strong> {{ booking.status }}</p>
            </div>

        <!-- Заголовок и содержимое модального окна -->
            <div class="modal-footer">
                <form method="get" action="{{ url_for('edit_booking', booking_id=booking.id) }}">
                    <button type="submit" class="btn btn-primary">Редактировать</button>
                </form>
                <form method="post" action="{{ url_for('delete_booking', booking_id=booking.id) }}" onsubmit="return confirm('Вы уверены, что хотите удалить это бронирование?');">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>