<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.get_bookings') }}" style="margin-right: 90px;">
      <img src="{{ url_for('static', filename='logo_white.png') }}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('booking.calendar_view') }}"><i class="fas fa-calendar-alt"></i> Календарь</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.get_bookings') }}"><i class="fas fa-home"></i> Главная</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('booking.bookings_today') }}"><i class="fas fa-list"></i> Сегодня</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('booking.add_booking') }}"><i class="fas fa-plus-circle"></i> Забронировать</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('report.search_cars') }}"><i class="fas fa-search"></i> Поиск</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('car.get_cars') }}"><i class="fas fa-car"></i> Автомобили</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user"></i> {{ current_user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            {% if current_user.is_superuser %}
            <li><a class="dropdown-item" href="{{ url_for('auth.list_users') }}"><i class="fas fa-users-cog"></i> Пользователи</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.register') }}"><i class="fas fa-user-plus"></i> Зарегистрировать</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Выйти</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}"><i class="fas fa-sign-in-alt"></i> Войти</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}"><i class="fas fa-user-plus"></i> Регистрация</a></li>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>