{% extends 'base.html' %} {% block title %}Добавление бронирования{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex align-items-center mb-3">
        <i class="fa fa-calendar-plus me-1 fa-lg"></i>
        <span class="mx-2" style="font-size: 1.4rem; font-weight: 300">
          Новое бронирование
        </span>
      </div>
    </div>
    <div class="col-md-10">
      <form method="POST" action="{{ url_for('booking.add_booking') }}">
        {{ form.hidden_tag() }}

        <div class="form-row mb-3">
          <div class="col">
            <div class="form-group">
              {{ form.start_datetime.label(class="form-control-label") }}
              <input
                type="text"
                name="start_datetime"
                id="start_datetime"
                class="form-control datetimepicker"
                required="required"
                placeholder="дд.мм.гггг чч:мм"
                value="{{ form.start_datetime.data.strftime('%d.%m.%Y %H:%M') if form.start_datetime.data else request.args.get('start_date', '') }}"
              />
              {% if form.start_datetime.errors %}
              <span style="color: red"
                >{{ form.start_datetime.errors[0] }}</span
              >
              {% endif %}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              {{ form.end_datetime.label(class="form-control-label") }}
              <input
                type="text"
                name="end_datetime"
                id="end_datetime"
                class="form-control datetimepicker"
                required="required"
                placeholder="дд.мм.гггг чч:мм"
                value="{{ form.end_datetime.data.strftime('%d.%m.%Y %H:%M') if form.end_datetime.data else request.args.get('end_date', '') }}"
              />
              {% if form.end_datetime.errors %}
              <span style="color: red">{{ form.end_datetime.errors[0] }}</span>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col">
            <div class="form-group">
              {{ form.car.label(class="form-control-label") }}
              <input
                type="text"
                class="form-control car-input"
                onclick="openCarModal()"
                readonly
                placeholder="Выберите автомобиль"
                value="{{ form.car.data or request.args.get('car_id', '') }}"
              />
              <input
                type="hidden"
                name="car"
                id="car-id"
                value="{{ form.car.data or request.args.get('car_id', '') }}"
              />
              {% if form.car.errors %}
              <span style="color: red">{{ form.car.errors[0] }}</span>
              {% endif %}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              {{ form.phone.label(class="form-control-label") }} {{
              form.phone(class="form-control") }} {% if form.phone.errors %}
              <span style="color: red">{{ form.phone.errors[0] }}</span>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          {{ form.description.label(class="form-control-label") }} {{
          form.description(class="form-control", rows="3") }} {% if
          form.description.errors %}
          <span style="color: red">{{ form.description.errors[0] }}</span>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary btn-sm">
          Добавить бронирование
        </button>
      </form>
    </div>
  </div>
  <!-- Модальное окно для выбора автомобиля -->
  <div id="carModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Выберите автомобиль</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="max-height: 50vh; overflow-y: auto">
          <table id="carTable" class="table">
            <thead>
              <tr>
                <th>Марка</th>
                <th>Номер</th>
              </tr>
            </thead>
            <tbody>
              {% for car in cars %}
              <tr
                onclick="selectCar('{{ car.id }}', '{{ car.brand }} {{ car.car_number }}')"
              >
                <td>{{ car.brand }}</td>
                <td>{{ car.car_number }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block additional_scripts %}
<script src="{{ url_for('static', filename='js/show_date_selected.js') }}"></script>
<script src="{{ url_for('static', filename='js/car_input_add_booking.js') }}"></script>
{% endblock %}
