{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/car_input_styles.css') }}"
/>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h4 class="text-center mb-3">Добавить бронирование</h4>

      <form id="bookingForm" method="POST" action="/booking/add_booking">
        <div class="form-group">
          <label for="start_datetime">Дата и время начала:</label>
          <input
            type="datetime-local"
            class="form-control"
            id="start_datetime"
            name="start_datetime"
            required
          />
        </div>

        <div class="form-group">
          <label for="end_datetime">Дата и время окончания:</label>
          <input
            type="datetime-local"
            class="form-control"
            id="end_datetime"
            name="end_datetime"
            required
          />
        </div>
      <span style="color: red">{{ error }}</span>
        <div class="form-group">
          <label for="car">Автомобиль:</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="selectedCar"
              name="selectedCar"
              readonly
            />
            <input type="hidden" id="selectedCarId" name="car" readonly />
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-info"
                onclick="openCarModal()"
              >
                Выбрать автомобиль
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Телефон:</label>
          <input type="text" class="form-control" id="phone" name="phone" />
        </div>

        <div class="form-group">
          <label for="description">Заметка:</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">
          Добавить бронирование
        </button>
      </form>
    </div>
  </div>
  

  <div id="carModal" class="modal" onclick="closeIfOutside(event)">
    <div class="modal-content car_modal-content">
      <span class="close" onclick="closeCarModal()">&times;</span>
      <table id="carTable">
        <thead>
          <tr>
            <th>Марка</th>
            <th>Номер</th>
          </tr>
        </thead>
        <tbody>
          {% for car in cars %}
          <tr
            onclick="selectCar('{{ car.id }}', '{{ car.brand }} {{ car.car_number }}')"
          >
            <td>{{ car.brand }}</td>
            <td>{{ car.car_number }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/car_input.js') }}"></script>
  {% endblock %}
</div>
