{% extends 'base.html' %} {% block title %}Добавление бронирования{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h4 class="text-center mb-3">Добавить бронирование</h4>

      <form method="POST" action="{{ url_for('booking.add_booking') }}">
        {{ form.hidden_tag() }}

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              {{ form.start_datetime.label(class="form-control-label") }}
              <input
                type="text"
                name="start_datetime"
                id="start_datetime"
                class="form-control datetimepicker"
                required="required"
                placeholder="дд.мм.гггг чч:мм"
                value="{{ form.start_datetime.data.strftime('%d.%m.%Y %H:%M') if form.start_datetime.data else request.args.get('start_date', '') }}"
              />
              {% if form.start_datetime.errors %}
              <span style="color: red"
                >{{ form.start_datetime.errors[0] }}</span
              >
              {% endif %}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              {{ form.end_datetime.label(class="form-control-label") }}
              <input
                type="text"
                name="end_datetime"
                id="end_datetime"
                class="form-control datetimepicker"
                required="required"
                placeholder="дд.мм.гггг чч:мм"
                value="{{ form.end_datetime.data.strftime('%d.%m.%Y %H:%M') if form.end_datetime.data else request.args.get('end_date', '') }}"
              />
              {% if form.end_datetime.errors %}
              <span style="color: red">{{ form.end_datetime.errors[0] }}</span>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              {{ form.car.label(class="form-control-label") }}
              <input
                type="text"
                class="form-control car-input"
                onclick="openCarModal()"
                readonly
                value="{{ form.car.data or request.args.get('car_id', '') }}"
              />
              <input
                type="hidden"
                name="car"
                id="car-id"
                value="{{ form.car.data or request.args.get('car_id', '') }}"
              />
              {% if form.car.errors %}
              <span style="color: red">{{ form.car.errors[0] }}</span>
              {% endif %}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              {{ form.phone.label(class="form-control-label") }} {{
              form.phone(class="form-control") }} {% if form.phone.errors %}
              <span style="color: red">{{ form.phone.errors[0] }}</span>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="form-group">
          {{ form.description.label(class="form-control-label") }} {{
          form.description(class="form-control", rows="3") }} {% if
          form.description.errors %}
          <span style="color: red">{{ form.description.errors[0] }}</span>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary btn-sm">
          Добавить бронирование
        </button>
      </form>
    </div>
  </div>

  <!-- Модальное окно для выбора автомобиля -->
  <div id="carModal" class="modal" onclick="closeIfOutside(event)">
    <div class="modal-content car_modal-content">
      <span class="close" onclick="closeCarModal()">&times;</span>
      <table id="carTable" class="table">
        <thead>
          <tr>
            <th>Марка</th>
            <th>Номер</th>
          </tr>
        </thead>
        <tbody>
          {% for car in cars %}
          <tr
            onclick="selectCar('{{ car.id }}', '{{ car.brand }} {{ car.car_number }}')"
          >
            <td>{{ car.brand }}</td>
            <td>{{ car.car_number }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/show_date_selected.js') }}"></script>
<script>
  $(document).ready(function () {
    $(".datetimepicker").datetimepicker({
      format: "d.m.Y H:i",
      step: 15,
    });

    $(".car-input").on("mousedown", function (e) {
      e.preventDefault();
      openCarModal();
    });
  });

  function openCarModal() {
    document.getElementById("carModal").style.display = "block";
  }

  function closeCarModal() {
    document.getElementById("carModal").style.display = "none";
  }

  function closeIfOutside(event) {
    if (event.target == document.getElementById("carModal")) {
      closeCarModal();
    }
  }

  function selectCar(carId, carDescription) {
    document.querySelector('[name="car"]').value = carId;
    document.querySelector(".car-input").value = carDescription;
    closeCarModal();
  }
</script>
{% endblock %}
