{% extends 'base.html' %}

{% block title %}Бронирования{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<style>
  .highlight {
    animation: highlight 2s ease-in-out;
  }
  @keyframes highlight {
    0% {
      background-color: purple;
      transform: scale(1.05);
    }
    100% {
      background-color: white;
      transform: scale(1);
    }
  }
  .custom-confirm-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
  }
  .custom-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h4 class="text-center">Бронирования</h4>

  <!-- Фильтр над правой частью таблицы -->
  <div class="row justify-content-end mb-3">
    <div class="col-md-4">
      <form id="filterForm" method="GET" action="{{ url_for('main.get_bookings') }}">
        <div class="input-group">
          <input type="text" name="filter" id="filterInput" placeholder="Введите текст для фильтрации" class="form-control" value="{{ filter }}">
        </div>
      </form>
    </div>
  </div>

  <div class="table-container">
    <div class="fixed-header">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th></th>
            <th data-sort="id">ID</th>
            <th data-sort="car_id">Автомобиль</th>
            <th data-sort="transmission">КПП</th>
            <th data-sort="car_number">Гос. номер</th>
            <th data-sort="start_date">Дата начала</th>
            <th data-sort="end_date">Дата окончания</th>
            <th data-sort="phone">Телефон</th>
            <th data-sort="description">Заметка</th>
            <th data-sort="user_id">Добавил</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr id="booking-{{ booking.id }}" class="status-{{ booking.status | lower }}" onclick="openBookingModal({{ booking.id }})">
            <td class="{% if booking.start_date.date() == today %}status-pickup-cell{% elif booking.end_date.date() == today %}status-dropoff-cell{% endif %}"></td>
            <td>{{ booking.id }}</td>
            <td>{{ booking.car.brand }}</td>
            <td>{{ booking.car.transmission }}</td>
            <td>{{ booking.car.car_number }}</td>
            <td>{{ booking.start_date.strftime('%d.%m.%y %H:%M') }}</td>
            <td>{{ booking.end_date.strftime('%d.%m.%y %H:%M') }}</td>
            <td>{{ booking.phone }}</td>
            <td>{{ booking.description[:20] }}{% if booking.description|length > 20 %}...{% endif %}</td>
            <td>{{ booking.user.username }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Модальное окно для бронирования -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div id="modal-content-placeholder">Загрузка...</div>
      </div>
    </div>
  </div>
</div>

<!-- Кастомное модальное окно -->
<div id="custom-confirm-modal" class="custom-confirm-modal" style="display: none;">
  <div class="custom-modal-content">
    <p>Вы уверены, что хотите удалить это бронирование?</p>
    <form id="delete-form" method="post">
      <button type="button" id="confirm-ok-button" class="btn btn-success">OK</button>
      <button type="button" id="confirm-cancel-button" class="btn btn-secondary">Отмена</button>
    </form>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const filterInput = document.getElementById('filterInput');
  const filterForm = document.getElementById('filterForm');

  // Загрузка сохраненного фильтра из localStorage
  const savedFilter = localStorage.getItem('bookingFilter');
  if (savedFilter) {
    filterInput.value = savedFilter;
  }

  // Обработчик изменения значения фильтра
  filterInput.addEventListener('input', function() {
    localStorage.setItem('bookingFilter', filterInput.value);
    filterTableRows(); // Вызываем функцию фильтрации
  });

  // Обработчик отправки формы
  filterForm.addEventListener('submit', function(event) {
    event.preventDefault(); // Отменяем стандартное поведение формы
    filterTableRows(); // Вызываем функцию фильтрации
  });

  // Функция фильтрации таблицы
  function filterTableRows() {
    const filterText = filterInput.value.trim().toLowerCase(); // Приводим текст фильтра к нижнему регистру
    if (filterText.length < 2) {
      // Если текст фильтра короче двух символов, показываем все строки
      document.querySelectorAll('.table-hover tbody tr').forEach(row => {
        row.style.display = '';
      });
      return;
    }

  const tableRows = document.querySelectorAll('.table-hover tbody tr');

  tableRows.forEach(row => {
    let rowMatches = false;

    Array.from(row.cells).forEach(cell => {
      const cellText = cell.textContent.trim().toLowerCase();
      if (cellText.includes(filterText)) {
        rowMatches = true;
      }
    });

    row.style.display = rowMatches ? '' : 'none'; // Показываем или скрываем строку
  });
}

  // Вызываем функцию фильтрации при загрузке страницы
  filterTableRows();

  // Очистка сохраненного фильтра при обновлении страницы
  window.addEventListener('beforeunload', function() {
    localStorage.removeItem('bookingFilter');
  });

  // Модальное окно бронирования
  window.openBookingModal = function(bookingId) {
    const modalContentPlaceholder = document.getElementById('modal-content-placeholder');
    modalContentPlaceholder.innerHTML = 'Загрузка...';

    fetch(`{{ url_for('booking.view_booking_modal', booking_id=0) }}`.replace('0', bookingId))
      .then(response => response.text())
      .then(data => {
        modalContentPlaceholder.innerHTML = data;
        attachDeleteEvent(); // Привязка событий к новым элементам
        $('#bookingModal').modal('show');
      })
      .catch(error => {
        modalContentPlaceholder.innerHTML = 'Ошибка загрузки данных';
        console.error('Ошибка:', error);
      });
  }

  // Функция привязки событий удаления
  function attachDeleteEvent() {
    const deleteButton = document.getElementById('delete-button');
    const confirmOkButton = document.getElementById('confirm-ok-button');
    const confirmCancelButton = document.getElementById('confirm-cancel-button');

    if (deleteButton) {
      deleteButton.addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('custom-confirm-modal').style.display = 'flex';
      });
    }

    if (confirmOkButton) {
      confirmOkButton.addEventListener('click', function() {
        document.getElementById('custom-confirm-modal').style.display = 'none';
        document.getElementById('delete-form').submit();
      });
    }

    if (confirmCancelButton) {
      confirmCancelButton.addEventListener('click', function() {
        document.getElementById('custom-confirm-modal').style.display = 'none';
      });
    }
  }

  // Вызываем привязку событий удаления
  attachDeleteEvent();

});
</script>

<script src="{{ url_for('static', filename='js/table_sort_booking.js') }}"></script>
{% endblock %}
