{% extends 'base.html' %}

{% block title %}Доступные автомобили{% endblock %}

{% block additional_styles %}
<style>
  .xdsoft_datetimepicker {
    transform: scale(1.2);
    transform-origin: top left;
  }

  #start_date,
  #end_date {
    max-width: 370px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h4 class="mb-4">Поиск доступных автомобилей</h4>

  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <div class="card p-3">
          <div class="form-group mb-2">
            <label for="start_date">{{ form.start_date.label }}</label>
            {{ form.start_date(class="form-control", id="start_date") }}
          </div>
          <div class="form-group">
            <label for="end_date">{{ form.end_date.label }}</label>
            {{ form.end_date(class="form-control", id="end_date") }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="errors mt-3">
        {% for field in form %} {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %} {% endfor %}
      </div>
    </div>

    <div class="col-md-12 mt-3">{{ form.submit(class="btn btn-primary") }}</div>
  </form>

  {% if cars %}
  <h4 class="mt-5">
    Доступные автомобили с {{ start_date }} по {{ end_date }}
  </h4>
  <div class="row">
    <div class="col-md-6 mb-4">
      <input type="text" id="filterInput" class="form-control" placeholder="Фильтр по марке, номеру или КПП">
    </div>
  </div>
  <div class="row" id="carContainer">
    {% for car in cars %}
    <div class="col-md-6 mb-4 car-card">
      <div class="card" style="max-width: 500px">
        <div class="card-body">
          <h5 class="card-title">
            {{ car.brand }} {{ car.car_number }}; {{ car.transmission }}
          </h5>
          <a href="{{ url_for('booking.add_booking', car_id=car.id, start_date=start_date, end_date=end_date) }}">
            Забронировать
          </a>
          <p class="card-text availability-info alert alert-success">
            Доступен с {{ start_date }} по {{ end_date }}
          </p>
          {% if car.last_booking_info %}
          <div class="booking-info">
            <div>Последнее бронирование:</div>
            <div>
              <a href="{{ url_for('booking.view_booking', booking_id=car.last_booking_info.id) }}">
                с {{ car.last_booking_info.start_date_formatted }} по {{ car.last_booking_info.end_date_formatted }}
              </a>
            </div>
          </div>
          {% else %}
          <div class="booking-info">
            <p class="card-text">Нет предыдущих бронирований</p>
          </div>
          {% endif %} {% if car.next_booking_info %}
          <div class="booking-info">
            <div>Следующее бронирование:</div>
            <div>
              <a href="{{ url_for('booking.view_booking', booking_id=car.next_booking_info.id) }}">
                с {{ car.next_booking_info.start_date_formatted }} по {{ car.next_booking_info.end_date_formatted }}
              </a>
            </div>
          </div>
          {% else %}
          <div class="booking-info">
            <p class="card-text">Нет следующих бронирований</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>Нет доступных автомобилей на выбранные даты.</p>
  {% endif %}
</div>
{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/available_cars_filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/show_date_selected_avaiable_cars.js') }}"></script>
{% endblock %}
