{% extends "base.html" %}
{% block content %}
    <h2>Edit User</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.telegram_id.label(class="form-label") }}
            {{ form.telegram_id(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm.label(class="form-label") }}
            {{ form.confirm(class="form-control") }}
        </div>
        <div class="form-group form-check">
            {{ form.is_superuser(class="form-check-input") }}
            {{ form.is_superuser.label(class="form-check-label") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
