{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h4 class="text-center mb-3">
        Редактирование информации о машине {{ car.brand }} {{ car.car_number }}
      </h4>
      <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.brand.label(class="form-label") }}
          {{ form.brand(class="form-control") }}
          {% for error in form.brand.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.car_number.label(class="form-label") }}
          {{ form.car_number(class="form-control") }}
          {% for error in form.car_number.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.transmission.label(class="form-label") }}
          {{ form.transmission(class="form-control") }}
          {% for error in form.transmission.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary btn-sm") }}
      </form>
      <form
        method="post"
        action="{{ url_for('car.delete_car', car_id=car.id) }}"
        onsubmit="return confirm('Вы точно уверены, что хотите удалить этот автомобиль?');"
      >
        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}